# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* Create a Jupyter notebook
* List commonly used libraries by Data Scientists
* Add and multiply integers

## Author
Mantas

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. ggplot
3. Seaborn
4. Pandas

|Data Science Tools|
| --- |
|Watson Studio|
|Spyder|
|Visual Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335